.details {
  margin: 50px auto;
  width: 600px;
  color: white;
  height: 500px;
  padding: 50px;
  border-radius: 20px !important;
  z-index: -1;
}

.detail-value {
  background-color: #3f3f3e;
  padding: 5px;
  border-radius: 5px;
  margin-left: 12px;
}

.detail-item {
  margin-bottom: 47px;
}
