.header-wrap {
  height: 70px;
  padding: 10px 40px;
}

.logo-coin {
  color: #fad804;
}
.crypton {
  color: white;
  font-size: 25px;
}

@media (width: 420px) {
  .crypton {
    color: white;
    font-size: 21px;
  }
}
