body {
  z-index: 1;
}

.table-wrap {
  margin-top: 40px;
  z-index: 1;
}

tr {
  border: 3px solid black !important;
  color: white;
  font-weight: bold;
}

thead {
  font-size: 20px;
  background-color: grey;
}
thead tr {
  border-top: 0 !important;
  color: black !important;
}

.percent-increase {
  color: #3c801e;
}
.percent-drop {
  color: #ef1e11;
}

@media (width: 420px) {
  thead {
    font-size: 15px;
  }
}
