.table-wrap {
  margin-top: 40px;
}

tr {
  border: 3px solid black !important;
  color: white;
  font-weight: bold;
}

thead {
  font-size: 20px;
  background-color: grey;
}
thead tr {
  border-top: 0 !important;
  color: black !important;
}

.percent-increase {
  color: #3c801e;
}
.percent-drop {
  color: #ef1e11;
}

@media (max-width: 560px) {
  th {
    font-size: 14px !important;
  }
  tr td {
    font-size: 12px;
  }
}
